
output_files/labpractice.sta.summary
output_files/labpractice.sta.rpt
output_files/labpractice.sof
output_files/labpractice.sld
output_files/labpractice.pin
output_files/labpractice.map.summary
output_files/labpractice.map.rpt
output_files/labpractice.jdi
output_files/labpractice.flow.rpt
output_files/labpractice.fit.summary
output_files/labpractice.fit.smsg
output_files/labpractice.fit.rpt
output_files/labpractice.eda.rpt
output_files/labpractice.done
output_files/labpractice.asm.rpt
labpractice_nativelink_simulation.rpt
labpractice.qws
labpractice.qsf
incremental_db/README
incremental_db/compiled_partitions/labpractice.rrp.hdb
incremental_db/compiled_partitions/labpractice.root_partition.map.kpt
incremental_db/compiled_partitions/labpractice.root_partition.map.hdb
incremental_db/compiled_partitions/labpractice.root_partition.map.hbdb.sig
incremental_db/compiled_partitions/labpractice.root_partition.map.hbdb.hdb
incremental_db/compiled_partitions/labpractice.root_partition.map.hbdb.hb_info
incremental_db/compiled_partitions/labpractice.root_partition.map.hbdb.cdb
incremental_db/compiled_partitions/labpractice.root_partition.map.dpi
incremental_db/compiled_partitions/labpractice.root_partition.map.cdb
incremental_db/compiled_partitions/labpractice.root_partition.cmp.rcfdb
incremental_db/compiled_partitions/labpractice.root_partition.cmp.logdb
incremental_db/compiled_partitions/labpractice.root_partition.cmp.hdb
incremental_db/compiled_partitions/labpractice.root_partition.cmp.dfp
incremental_db/compiled_partitions/labpractice.root_partition.cmp.cdb
incremental_db/compiled_partitions/labpractice.root_partition.cmp.ammdb
incremental_db/compiled_partitions/labpractice.db_info
db/prev_cmp_labpractice.qmsg
db/labpractice_partition_pins.json
db/labpractice.vpr.ammdb
db/labpractice.tmw_info
db/labpractice.tiscmp.slow_1200mv_n40c.ddb
db/labpractice.tiscmp.slow_1200mv_125c.ddb
db/labpractice.tiscmp.fastest_slow_1200mv_n40c.ddb
db/labpractice.tiscmp.fastest_slow_1200mv_85c.ddb
db/labpractice.tiscmp.fast_1200mv_n40c.ddb
db/labpractice.tis_db_list.ddb
db/labpractice.sta_cmp.7_slow_1200mv_125c.tdb
db/labpractice.sta.rdb
db/labpractice.sta.qmsg
db/labpractice.smp_dump.txt
db/labpractice.smart_action.txt
db/labpractice.sld_design_entry_dsc.sci
db/labpractice.rtlv_sg_swap.cdb
db/labpractice.rtlv_sg.cdb
db/labpractice.rtlv.hdb
db/labpractice.routing.rdb
db/labpractice.root_partition.map.reg_db.cdb
db/labpractice.quiproj.1116.rdr.flock
db/labpractice.pre_map.hdb
db/labpractice.map_bb.logdb
db/labpractice.map_bb.hdb
db/labpractice.map_bb.cdb
db/labpractice.map.rdb
db/labpractice.map.qmsg
db/labpractice.map.logdb
db/labpractice.map.kpt
db/labpractice.map.hdb
db/labpractice.map.cdb
db/labpractice.map.bpm
db/labpractice.map.ammdb
db/labpractice.lpc.txt
db/labpractice.lpc.rdb
db/labpractice.lpc.html
db/labpractice.hif
db/labpractice.hier_info
db/labpractice.fit.qmsg
db/labpractice.eda.qmsg
db/labpractice.db_info
db/labpractice.cyclone10lp_io_sim_cache.45um_ii_1200mv_n40c_slow.hsd
db/labpractice.cyclone10lp_io_sim_cache.45um_ii_1200mv_85c_slow.hsd
db/labpractice.cyclone10lp_io_sim_cache.45um_ii_1200mv_125c_slow.hsd
db/labpractice.cyclone10lp_io_sim_cache.45um_ff_1200mv_n40c_fast.hsd
db/labpractice.cmp_merge.kpt
db/labpractice.cmp.rdb
db/labpractice.cmp.logdb
db/labpractice.cmp.idb
db/labpractice.cmp.hdb
db/labpractice.cmp.cdb
db/labpractice.cmp.bpm
db/labpractice.cbx.xml
db/labpractice.asm_labs.ddb
db/labpractice.asm.rdb
db/labpractice.asm.qmsg
db/labpractice.analyze_file.qmsg
db/labpractice.(0).cnf.hdb
db/labpractice.(0).cnf.cdb
db/.cmp.kpt
simulation/modelsim/labpractice.sft
simulation/modelsim/labpractice.svo
simulation/modelsim/labpractice_modelsim.xrf
simulation/modelsim/labpractice_run_msim_rtl_verilog.do
simulation/modelsim/labpractice_run_msim_rtl_verilog.do.bak
simulation/modelsim/labpractice_run_msim_rtl_verilog.do.bak1
simulation/modelsim/labpractice_run_msim_rtl_verilog.do.bak10
simulation/modelsim/labpractice_run_msim_rtl_verilog.do.bak11
simulation/modelsim/labpractice_run_msim_rtl_verilog.do.bak2
simulation/modelsim/labpractice_run_msim_rtl_verilog.do.bak3
simulation/modelsim/labpractice_run_msim_rtl_verilog.do.bak4
simulation/modelsim/labpractice_run_msim_rtl_verilog.do.bak5
simulation/modelsim/labpractice_run_msim_rtl_verilog.do.bak6
simulation/modelsim/labpractice_run_msim_rtl_verilog.do.bak7
simulation/modelsim/labpractice_run_msim_rtl_verilog.do.bak8
simulation/modelsim/labpractice_run_msim_rtl_verilog.do.bak9
simulation/modelsim/modelsim.ini
simulation/modelsim/msim_transcript
simulation/modelsim/rtl_work/_info
simulation/modelsim/rtl_work/_lib.qdb
simulation/modelsim/rtl_work/_lib1_0.qdb
simulation/modelsim/rtl_work/_lib1_0.qpg
simulation/modelsim/rtl_work/_lib1_0.qtl
simulation/modelsim/rtl_work/_vmake
simulation/modelsim/vsim.wlf
db/labpractice.db_info
db/labpractice.db_info
labpractice.qsf
*.qsf
practica1.sv
